
#cursor {
  animation: blinker 1s step-end infinite; 
  background-color: white;
  /*//you can change 'step-end' to 'linear' for smooth transition*/
}
@keyframes blinker {  
  50% { opacity: 0; }
}

@import url("Tibet.otf");

body {   /*background-image:url(buddha.gif);
*/       
 background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('buddha.gif'); background-size:1820px 1280px;
        background-position:top;
        color:#ffffff;
        background-repeat: no-repeat;
        font-family: 'Megrim', cursive;

        
        font-size: 72px;
        line-height: 1em;
}
.text{ 
  font-family: 'Megrim', cursive;
  color:white;
  position:center;
  text-align: center;
  top:100px;
  color: white;
  mix-blend-mode: difference;
  font-size: 150%;

}
#container {
  background-color: transparent;
  width: 1000px;
  padding: 50px;
  margin: 50px auto;
  word-wrap: break-word;
  text-align:center;
  
}
.inner {
  /*display:block;*/
}
.no{
  text-align: center;
  vertical-align: middle;
  align-content: center;
  top:1000px;
  position:relative;
  top:400px;
  left:400px;
  animation: mymove 500s ;
  animation-iteration-count: 1;
  position: fixed;
}
.ha{
  vertical-align: middle;
  top:1000px;
}
.button{
  position:relative;
  align-content: center;
  top:700px;
  text-align: center;
  vertical-align: center;
  background-image: "lotus.png";
  animation: zhuan 4s;
  size:200px 200px;
  z-index:30;
}
@keyframes mymove {
  0%   {color:rgba(255, 255, 255, 0.0);}
  0.25%  {color:rgba(255, 255, 255, 1);}
  0.75%  {color:rgba(255, 255, 255, 0);}
  100% {color:rgba(255, 255, 255, 0.0);}
@keyframes zhuan {
  0%   {transform:rotateZ(0deg);}
  25%  {transform:rotateZ(30deg);}
  75%  {transform:rotateZ(90deg);}
  100% {transform:rotateZ(360deg);}