
#cursor {
  animation: blinker 1s step-end infinite; 
  background-color: white;
  /*//you can change 'step-end' to 'linear' for smooth transition*/
}
@keyframes blinker {  
  50% { opacity: 0; }
}

@import url("Tibet.otf");

body {   /*background-image:url(buddha.gif);
*/       
 background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('buddha.gif'); background-size:1820px 1280px;
        background-position:top;
        color:#ffffff;
        background-repeat: no-repeat;
        font-family: 'Megrim', cursive;

        
        font-size: 72px;
        line-height: 1em;
}
.text{ 
  font-family: 'Megrim', cursive;
  color:white;
  position:center;
  text-align: center;
  top:100px;
  color: white;
  mix-blend-mode: difference;
  font-size: 150%;

}
#container {
  background-color: transparent;
  width: 1000px;
  padding: 50px;
  margin: 50px auto;
  word-wrap: break-word;
  text-align:center;
  
}
.inner {
  /*display:block;*/
}