
#cursor {
  animation: blinker 1s step-end infinite; 
  background-color: white;
  /*//you can change 'step-end' to 'linear' for smooth transition*/
}
@keyframes blinker {  
  50% { opacity: 0; }
}

@import url("Tibet.otf");
@font-face {
  font-family: 'Tibet';
  src: url('Tibet.eot');
  src: local('Tibet Regular'), local('Tibet'),
    url("Tibet.woff") format("woff"),
    url("Tibet.otf") format("opentype"),
    url("Tibet.svg#Tibet") format("svg");
}
body {   background-image:url(buddha.gif);
        background-size:1820px 1280px;
        background-position:top;
        background-repeat: no-repeat;
        font-family: 'Tibet', cursive;
        
        font-size: 72px;
        line-height: 1em;
}
.text{ 
  font-family: 'Tibet', cursive;
  color:white;
}
#container {
  background-color: transparent;
  width: 1000px;
  padding: 50px;
  margin: 50px auto;
  word-wrap: break-word;
  text-align:center;
  z-index: 2;
}
.inner {
  /*display:block;*/
}